/*body {
  padding-top: 20px;
}*/

.emoji {
  height: 50%;
  width: 50%;
}

#emojiButtons {
  height: 50%;
  width: 10%;
  margin-right: 90px;
}

.logo {
  font-size: 75px;
}

#booth {
  width: 700px;
  height: 1000px;
  background: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
  position: relative;
}

#connect {
  margin-top: 30px;
}

#selectImg {
  margin: 5px 20px 5px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#myBooth {
  margin: 0 auto;
  position: relative;
  background: #ccc;
  width: 100%;
  height: 465px;
}

#peerBooth {
  margin: 0 auto;
  position: relative;
  background: #ccc;
  width: 100%;
  height: 465px;
}

#myVideo {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  height: 460px;
  visibility: visible;
  width: 100%;
}

#peerVideo {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  visibility: visible;
  height: 460px;
  width: 100%;
}

#myCanvas {
  z-index: 2147483647;
  margin: 0 auto;
  position: absolute;
  visibility: visible;
  height: 460px;
  width: 100%;
}

#peerCanvas {
  z-index: 2147483647;
  margin: 0 auto;
  position: absolute;
  visibility: visible;
  height: 460px;
}
  width: 100%;
