#booth {
  width: 640px;
  height: 965px;
  background: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
}

video {
  /* display: block; */
  margin: 0 auto;
  /* height: 400px; */
  /* width: 300px; */
}

canvas {
  margin: 0 auto;
}
