.btmRight {
  bottom: 0;
  right: 0;
}

#fixed {
  position: fixed;
  width: 61px;
  height: 61px;
  bottom: 10px;
  right: 20px;
}

#materialBtn {
  z-index: 2147483647;
  position: fixed;
  overflow: visible;
  bottom: 10px;
  right: 20px;
  background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #F44336;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* transition: .3s; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.emoji {
  display: inline;
  height: 50%;
  width: 50%;
  border-radius: 5px;
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 1s linear forwards infinite;
  animation: fadeinout 1s linear forwards infinite;
  opacity: 0;
}

#emojiButtons {
  height: 22%;
  width: 13%;
  margin: 0 auto;
}

#optionBtns {
  display: inline-block;
  width: 100%;
  margin-left: -22%;
}

#animeBtn {
  position: absolute;
}

#filterBtns {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

.logo {
  font-size: 75px;
}

.hidden {
  display: none;
}

.fixPos {
  position: fixed;
}

#demo {
  z-index: 2147483646;
  position: absolute;
  display: block;
  overflow: hidden;
  bottom: 0;
  right: 0;
  text-align: center;
  height: 700px;
  width: 900px;
  padding-top: 75%;
  border: 1px solid;
  margin-bottom: 80%;
  margin-right: 80%;
  border-radius: 10px;
  background-color: white;
}

#boothApp {
  text-align: center;
  height: inherit;
  width: inherit;
}

#booth {
  height: 80%;
  width: 100%;
  position: relative;
  display: inline-flex;
}

#selectImg {
  margin: 5px 20px 5px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#vidContainer {
  height: 100%;
  /*45em;*/
  width: 75%;
  /*60em;*/
}

#myBooth {
  margin-left: 5%;
  position: absolute;
}

#peerBooth {
  position: absolute;
  margin-left: 5%;
}

#myVideo {
  text-align: center;
  position: absolute;
  z-index: 2;
  visibility: visible;
}

#peerVideo {
  text-align: center;
  position: absolute;
  z-index: 2;
  visibility: visible;
}

#myCanvas {
  text-align: center;
  z-index: 2147483000;
  position: absolute;
  visibility: visible;
}

#peerCanvas {
  text-align: center;
  z-index: 2147483000;
  position: absolute;
  visibility: visible;
}

#connectivity-buttons {
  width: 100%;
  margin: 15px;
}

.connectButton {
  display: inline;
}


/*////// room selection start ///////////////////*/

#roomApp {
  height: 100%;
  width: 100%;
  background-color: white;
}

#recent-rooms-list {
  list-style-type: none;
  padding: 0 15px;
}

.roombtn {
  background-color: #4285F4;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  height: 2.75em;
  padding: 0.5em 0.7em 0.5em 0.7em;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
}

.roombtn:active {
  background-color: #3367D6;
}

.roombtn:hover {
  background-color: #3B78E7;
}

.roombtn:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
}

.roombtn[disabled] {
  color: rgb(76, 76, 76);
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(30, 30, 30);
  background-color: rgba(255, 255, 255, 0.12);
}

#room-selection input[type=text] {
  border: none;
  border-bottom: solid 1px #4c4c4f;
  font-size: 1em;
  background-color: transparent;
  color: #ccc;
  padding: .4em 0;
  margin-right: 20px;
  width: 100%;
  display: block;
}

#room-selection input[type="text"]:focus {
  border-bottom: solid 2px #4285F4;
  outline: none;
}

#room-selection input[type="text"].invalid {
  border-bottom: solid 2px #F44336;
}

#room-selection label.error-label {
  color: #F44336;
  font-size: .85em;
  font-weight: 200;
  margin: 0;
}

#room-id-input-div {
  margin: 15px;
}

#room-id-input-buttons {
  margin: 15px;
}

#room-selection h1 {
  font-weight: 300;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
}

div#room-selection {
  margin: 3em auto 0 auto;
  width: 25em;
  padding: 1em 1.5em 1.3em 1.5em;
}

#room-selection p {
  color: #eee;
  font-weight: 300;
  line-height: 1.6em;
}


/*////// room selection end /////////////////////*/

@media screen only and (max-width: 600px) {
  #myBooth,
  #peerBooth {
    width: 100%;
  }
}

.app {
  margin: 15px;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blckQt {
  z-index: -1;
}

.aboutUs {
  z-index: -1;
}
