/*body {
  padding-top: 20px;
}*/

.emoji {
  display: inline;
  height: 50%;
  width: 50%;
  border-radius: 5px;
}

#emojiButtons {
  height: 50%;
  width: 9%;
  /* margin-right: 90px; */
  margin: 0 auto;
}

.logo {
  font-size: 75px;
}

.hidden {
  display: none;
}

#booth {
  /* width: 95%; */
  height: 80%;
  background: #ccc;
  border: 5px solid #ddd;
  margin: 0 auto;
  position: relative;
}

#connect {
  /* margin-top: 30px; */
}

#selectImg {
  margin: 5px 20px 5px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#myBooth {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  background: #ccc;
  width: 44%;
  height: 400px;
}

#peerBooth {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  background: #ccc;
  width: 44%;
  height: 400px;
}

#myVideo {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  visibility: visible;
  width: 533px;
  height: 400px;
}

#peerVideo {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  visibility: visible;
  width: 533px;
  height: 400px;
}

#myCanvas {
  z-index: 2147483647;
  margin: 0 auto;
  position: absolute;
  visibility: visible;
  height: 400px;
  width: 533px;
}

#peerCanvas {
  z-index: 2147483647;
  margin: 0 auto;
  position: absolute;
  visibility: visible;
  height: 400px;
  width: 533px;
}

#connectivity-buttons {
  width: 100%;
  margin: 15px;
}

.connectButton {
  display: inline;
}


/*////// room selection start ///////////////////*/

#recent-rooms-list {
  list-style-type: none;
  padding: 0 15px;
}

.roombtn {
  background-color: #4285F4;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  height: 2.75em;
  padding: 0.5em 0.7em 0.5em 0.7em;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
}

.roombtn:active {
  background-color: #3367D6;
}

.roombtn:hover {
  background-color: #3B78E7;
}

.roombtn:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
}

.roombtn[disabled] {
  color: rgb(76, 76, 76);
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(30, 30, 30);
  background-color: rgba(255, 255, 255, 0.12);
}

#room-selection input[type=text] {
  border: none;
  border-bottom: solid 1px #4c4c4f;
  font-size: 1em;
  background-color: transparent;
  color: #ccc;
  padding: .4em 0;
  margin-right: 20px;
  width: 100%;
  display: block;
}

#room-selection input[type="text"]:focus {
  border-bottom: solid 2px #4285F4;
  outline: none;
}

#room-selection input[type="text"].invalid {
  border-bottom: solid 2px #F44336;
}

#room-selection label.error-label {
  color: #F44336;
  font-size: .85em;
  font-weight: 200;
  margin: 0;
}

#room-id-input-div {
  margin: 15px;
}

#room-id-input-buttons {
  margin: 15px;
}

#room-selection h1 {
  font-weight: 300;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
}

div#room-selection {
  margin: 3em auto 0 auto;
  width: 25em;
  padding: 1em 1.5em 1.3em 1.5em;
}

#room-selection p {
  color: #eee;
  font-weight: 300;
  line-height: 1.6em;
}


/*////// room selection end /////////////////////*/

@media screen only and (max-width: 600px) {
  #myBooth,
  #peerBooth {
    width: 100%;
  }
}

.app {
  margin: 15px;
}
